USE [master]
GO
/****** Object:  Database [TestDB]    Script Date: 2022/12/20 下午 05:21:47 ******/
CREATE DATABASE [TestDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\TestDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\TestDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestDB]
GO
USE [TestDB]
GO
/****** Object:  Table [dbo].[ActivityFile]    Script Date: 2022/12/20 下午 05:21:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityFile](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MID] [int] NOT NULL,
	[Filename] [nvarchar](max) NULL,
	[Created] [datetime] NULL,
 CONSTRAINT [PK_ActivityFile] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Media]    Script Date: 2022/12/20 下午 05:21:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Media](
	[MID] [int] IDENTITY(1,1) NOT NULL,
	[Category] [int] NOT NULL,
	[LinkType] [int] NOT NULL,
	[Yearx] [varchar](3) NULL,
	[Title] [nvarchar](15) NULL,
	[FullPath] [nvarchar](20) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Media] PRIMARY KEY CLUSTERED 
(
	[MID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ActivityFile]  WITH CHECK ADD  CONSTRAINT [FK_ActivityFile_Media] FOREIGN KEY([MID])
REFERENCES [dbo].[Media] ([MID])
GO
ALTER TABLE [dbo].[ActivityFile] CHECK CONSTRAINT [FK_ActivityFile_Media]
GO
USE [master]
GO
